@import '../App.scss';

.alert {
    text-align: center;
}
.pin-image {
    height: 56px;
    margin: 0 2px 0 2px;
    &:last-child {
        margin-right: 0;
    }
}
.ball-image {
    height: 48px;
    position: absolute;
    left: 0;
}
.ball__rolling {
    left: 100%;
    transition: 1s ease-in;
    animation: rotating 1s linear infinite;
}
.pin-container {
    display: flex;
    justify-content: end;
    margin: 12px 0 16px 0;
    position: relative;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
