@import "~bootstrap/scss/bootstrap";

$button-margin: 8px;

h1 {
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 2.5em;
    margin: .5em;
}
.button-container {
    margin-top: $button-margin;
    margin-bottom: $button-margin;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: $button-margin;
}